*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: rgb(233, 112, 31);
}
div{
    color: blue;
    text-align: center;
    margin-top: 20vh;
    font-family:sans-serif;
    font-size:10em;
    
}

h1 span .title{
    color: green;
}


h4{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.animate {
    font-size: 50px;
    margin: 100px 0 0;
    border-bottom: 2px solid #ccc;
  }

  .animate span {
    display: inline-block;
  }

  .animate span:nth-of-type(2) {
    animation-delay: .05s;
  }
  .animate span:nth-of-type(3) {
    animation-delay: .1s;
  }
  .animate span:nth-of-type(4) {
    animation-delay: .15s;
  }
  .animate span:nth-of-type(5) {
    animation-delay: .2s;
  }
  .animate span:nth-of-type(6) {
    animation-delay: .25s;
  }
  .animate span:nth-of-type(7) {
    animation-delay: .3s;
  }
  .animate span:nth-of-type(8) {
    animation-delay: .35s;
  }
  .animate span:nth-of-type(9) {
    animation-delay: .4s;
  }
  .animate span:nth-of-type(10) {
    animation-delay: .45s;
  }
  .animate span:nth-of-type(11) {
    animation-delay: .5s;
  }
  .animate span:nth-of-type(12) {
    animation-delay: .55s;
  }
  .animate span:nth-of-type(13) {
    animation-delay: .6s;
  }
  .animate span:nth-of-type(14) {
    animation-delay: .65s;
  }
  .animate span:nth-of-type(15) {
    animation-delay: .7s;
  }
  .animate span:nth-of-type(16) {
    animation-delay: .75s;
  }
  .animate span:nth-of-type(17) {
    animation-delay: .8s;
  }
  .animate span:nth-of-type(18) {
    animation-delay: .85s;
  }
  .animate span:nth-of-type(19) {
    animation-delay: .9s;
  }
  .animate span:nth-of-type(20) {
    animation-delay: .95s;
  }
  .five span {
    color: #dd3f0f;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: dropVanish .5s forwards;
  }
  
  
  @keyframes dropVanish {
    30% {
      transform: translate(0, -50px) rotate(180deg) scale(1);
    }
  
    50% {
      transform: translate(0, 20px) scale(.8) rotate(0deg);
      opacity: 1;
    }
  
    80% {
      transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1) rotate(0deg);
      opacity: 1;
    }
  }




